.banner {
  background-size: cover;
  width: 100%;
  background-position: center;
  padding: 64px 0;
  height: 400px;
  margin-bottom: 12px;
}

.banner h1 {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  text-align: center;
  font-size: 20px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.banner-cards {
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  background-position: center;
  padding: 64px 0;
  height: 300px;
  margin-bottom: 12px;
}

.banner-cards h1 {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}
